@{
    Layout = null;
}
@model AdminJobWeb.Models.Applicant.Skill;

<div class="modal-content">
    <form asp-action="AddSkill" asp-controller="Applicant" method="post">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Add New Skill</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col mb-6">
                    <label asp-for="nama" class="form-label">Nama</label>
                    <input type="nama" asp-for="nama" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
