@{
    Layout = null;
}
@model AdminJobWeb.Models.Applicant.Skill;

<div class="modal-content">
    <form asp-action="AddSkill" asp-controller="Applicant" method="post" class="formPop">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Add New Skill</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input type="hidden" name="link" class="form-control" value="@ViewBag.link" />
        <div class="modal-body">
            <div class="row">
                <div class="col mb-6">
                    <label asp-for="nama" class="form-label">Nama</label>
                    <input type="nama" id="nama" asp-for="nama" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .swal2-container {
        z-index: 20000 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $("#nama").on("keypress", function (e) {
            const char = String.fromCharCode(e.which);
            const re = /^[A-Za-z0-9 _\-\(\)\/\\]$/;
            if (!re.test(char)) {
                e.preventDefault();
            }
        });

        $(".formPop").on("submit", function (e) {
            e.preventDefault();

            const re = /^[A-Za-z0-9 _\-\(\)\/\\]{0,50}$/;
            const val1 = $('#nama').val();

            if (!re.test(val1)) {
                e.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Input Nama Tidak Valid."
                });
                return false;
            }

            Swal.fire({
                icon: "question",
                title: "Yakin data sudah lengkap?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });
    });
</script>