@model AdminJobWeb.Models.Company.PerusahaanAdmin

<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="RejectAdmin" asp-controller="Validasi" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Reject Perusahaan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" asp-for="_id" class="form-control" value="@ViewBag.id">
                        <input type="hidden" name="idPerusahaan" class="form-control" value="@ViewBag.idCompany">
                    </div>
                    <div class="row">
                        <div class="col mb-6">
                            <label asp-for="alasanReject" class="form-label">Alasan Penolakan</label>
                            <textarea asp-for="alasanReject" class="form-control" placeholder="Alasan penolakan..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </div>
            </form>
        </div>
    </div>
</div>
