@model AdminJobWeb.Models.Company.PerusahaanAdmin

<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="RejectAdmin" asp-controller="Validasi" method="post" class="formPop">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Reject Perusahaan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" asp-for="_id" class="form-control" value="@ViewBag.id">
                        <input type="hidden" name="idPerusahaan" class="form-control" value="@ViewBag.idCompany">
                    </div>
                    <div class="row">
                        <div class="col mb-6">
                            <label asp-for="alasanReject" class="form-label">Alasan Penolakan</label>
                            <textarea asp-for="alasanReject" id="alasanReject" class="form-control" placeholder="Alasan penolakan..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .swal2-container {
        z-index: 20000 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $(".formPop").on("submit", function (e) {
            e.preventDefault();
              const re = /^[A-Za-z0-9 _\-\(\)\/\\]{0,150}$/;
              const val1 = $('#alasanReject').val();

            if (!re.test(val1)) {
                e.preventDefault();
                Swal.fire({
                    icon: "error",
                    title: "Gagal Submit",
                    text: "Input alasan Reject Tidak Valid."
                });
                return false;
            }

            Swal.fire({
                icon: "question",
                title: "Yakin data sudah lengkap?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });
    });
</script>