

<div class="w-100 h-100 col d-flex justify-content-center align-items-center">
    <form method="post" asp-action="EditPassword" asp-controller="Account" id="formCreate">

        <div class="card card-primary">
            <div class="card-header">
                <h2>Edit Password</h2>
            </div>
            <div class="card-body">
                <div class="row gap-3">
                    <input type="password" name="passwordNow" id="passwordNow" class="form-control" placeholder="Password Sekarang..." />
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password Baru..." />
                    <input type="password" name="passwordRet" id="passwordRet" class="form-control" placeholder="Ketik UlangPassword Baru..." />
                    <input type="hidden" name="username" value="@ViewBag.username" />
                    <input type="hidden" name="key" value="@ViewBag.key" />
                </div>
                <div class="col d-flex justify-content-center align-items-center mt-2">
                    <b id="minKarakter" style="color:red">Minimal 8 Karakter </b> |
                    <b id="minBesar" style="color:red">Terdapat Huruf Besar </b> |
                    <b id="minKecil" style="color:red">Terdapat Huruf Kecil </b>
                </div>
                <div class="col d-flex justify-content-center align-items-center mt-2">
                    <b id="minAngka" style="color:red">Terdapat Angka </b> |
                    <b id="minSama" style="color:red">Password Sama </b>
                </div>
            </div>
            <div class="card-footer">
                <div class="row d-flex gap-3">
                    <input class="btn btn-danger" type="submit" value="Reset Password" />
                </div>
            </div>

        </div>
    </form>
</div>

@section PageScripts {
    <script>
        $(document).ready(function () {
            function validatePassword() {
                var pass = $("#password").val();
                var passRet = $("#passwordRet").val();

                if (pass.length >= 8) {
                    $("#minKarakter").css("color", "green");
                } else {
                    $("#minKarakter").css("color", "red");
                }

                if (/[A-Z]/.test(pass)) {
                    $("#minBesar").css("color", "green");
                } else {
                    $("#minBesar").css("color", "red");
                }

                if (/[a-z]/.test(pass)) {
                    $("#minKecil").css("color", "green");
                } else {
                    $("#minKecil").css("color", "red");
                }

                if (/[0-9]/.test(pass)) {
                    $("#minAngka").css("color", "green");
                } else {
                    $("#minAngka").css("color", "red");
                }

                if (pass && pass === passRet) {
                    $("#minSama").css("color", "green");
                } else {
                    $("#minSama").css("color", "red");
                }
            }

            $("#password, #passwordRet").on("keyup", function () {
                validatePassword();
            });

            $("#formCreate").on("submit", function () {
                var pass = $("#password").val();
                var passRet = $("#passwordRet").val();
                if (!(pass.length >= 8)) {
                    alert("Password minimal memiliki 8 karakter!");
                    return false;
                }

                if (!(/[A-Z]/.test(pass))) {
                    alert("Password minimal memiliki 1 karakter besar!");
                    return false;
                }

                if (!(/[a-z]/.test(pass))) {
                    alert("Password minimal memiliki 1 karakter kecil!");
                    return false;
                }

                if (!(/[0-9]/.test(pass))) {
                    alert("Password minimal memiliki 1 angka!");
                    return false;
                }

                if (!(pass && pass === passRet)) {
                    alert("Password harus sama!");
                    return false;
                }
            })
        });
    </script>
}
