@{
    Layout = null;
}
@model AdminJobWeb.Models.Applicant.Organization;

<div class="modal-content">
    <form asp-action="AddOrganization" asp-controller="Applicant" method="post" class="formPop">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Add New Organization</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col mb-6">
                    <label asp-for="nama" class="form-label">Nama</label>
                    <input type="text" asp-for="nama" class="form-control" required>
                </div>
            </div>
            <div class="row">
                <div class="col mb-6">
                    <label asp-for="lokasi" class="form-label">Lokasi</label>
                    <textarea asp-for="lokasi" class="form-control" required></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .swal2-container {
        z-index: 20000 !important;
    }
</style>
<script>
    $(document).ready(function () {
        $(".formPop").on("submit", function (e) {
            e.preventDefault();
            Swal.fire({
                icon: "question",
                title: "Yakin ingin data sudah lengkap?",
                showCancelButton: true,
                confirmButtonText: "Submit",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                }
            });
        });
    });
</script>